<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="./CSS/MyCSS.css">
<script src='/Js/jscr.js'></script>
</head>
<body>
	{{>hdr}}

	<h1>My First Heading.</h1>
	<h2>{{me}}</h2><h2>{{you}}</h2>
	<p>My first paragraph.</p>
	
	{{>ftr}}

</body>
</html>