<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="./CSS/MyCSS.css">
<script src='/Js/jscr.js'></script>
</head>
<body>

	{{>hdr}}
	<h1>Shedule</h1>
	{{>ftr}}

</body>
</html>